
<div class="second-page">
    <div class="container-fluid">
      <div class="row row-second-page">
        <div class="col-5">
          <p class="text-second-page">I am a web developer with 2 years of experience, I have participated in the development of applications, including front end and back end.
          My goal is to be a web developer with solid knowledge in user experience.
        </p>
        </div>
        <div class="col-6">
          <div class="img-second-page"></div>
        </div>
      </div>
    </div>
  </div>
  