
<div class="second-page">
    <div class="container-fluid">
      <div class="row row-second-page">
        <div class="col-5">
          <p class="text-second-page">I am an Angular developer with three years of experience, highlighted for my proactivity and innovation. Specialized in efficient solutions for web applications with a results-oriented approach. I enjoy working in a team and I believe that collaboration is essential to achieve objectives effectively. Currently, I am looking for job opportunities in Angular, React Native and .NET to apply my skills and continue growing professionally.
          </p>
        </div>
        <div class="col-6">
          <div class="img-second-page"></div>
        </div>
      </div>
    </div>
  </div>
  