@import "../variables";

.second-page {
    background-image: $second-page-bkg;
    @include backgrounds;
    .row-second-page {
        padding-left: 20%;
        align-items: center;
    }
    .text-second-page{
        margin: auto;
        padding-top: 20%;
        text-align: center;
        font-size: $font-size-general;
    }
    .img-second-page {
        background-image: url(../images/typing-bro.d244392ecc5155e7.png);
        width: 100%;
        background-size: cover;
        padding-top: 110%;
    }
}    

