
<div class="seventh-page">
    <p class="seventh-text">
    I am a very organized person, I always try to make the
    code as clean, clear and organized as possible.
    I consider myself a responsible person, I like to learn,
    have new challenges and improve in every way.
    I like integrating people into the team. When a new
    member joins the team, I always welcome them and try
    to make them feel comfortable. I am a very empathetic
    person, first of all, we are human
    </p>
</div>
  