<div class="new-page">
    <div class="container-fluid">
        <div class="row text-new-1">
            <div class="col">
                <span class="uppercase">Semi Senior Angular</span> <br>
                <p class="quote"> Absti - Argentina</p>
                 <p class="p-1">
                    Restructuring of mobile applications using React Native. <br>
                    Modernization and creation of new components and screens.</p>
                </div>
        </div>
        <div class="row row-new">
            <hr class ="hr-new">
            <div class="col col-new">2024</div>
        </div>
      
    </div>
