@import "../variables";

.new-page {
    background-image: $newJob-page-bkg;
    @include backgrounds;
    font-size: $font-size-text;
    .uppercase {
        text-transform: uppercase;
        font-weight: bolder;
    }
    .quote {
        font-style: italic;
        font-size: 13px;
    }
    .row-new {
        width: 15%;
        text-align: center;
        padding-top: 20%;
        .col-new{
            padding-top: 30%;
            background: $circle-colors;
            border-radius: 50%;
            margin-left: 6%;
            margin-right: 6%;
            height: 25vh;
            font-size: 30px;
        font-weight: bolder;

        }
    }
    .hr-new {
        border: 4px solid;
        width: 95%;
        position: absolute;
        margin-top: 100px;
    }
    .text-new{ 
        width: 500px;
    }
    .text-new-1 {
        position: absolute;
        margin-left: 20%;
        margin-top: 13%;
        width: 35%;
        height: 200px;
    }
    
    .text-new-2 {
        position: absolute;
        margin-left: 20%;
        width: 35%;
        height: 200px;

    }
    .p-1 {
       line-height: 30px;

    }
    .p-2 {
        text-align: right;
       line-height: 30px;
        margin-top: -10%;
    }
   
}    

