
<div class="fifth-page">
    <div class="container-fluid">
        <div class="row text-fifth-1">
            <div class="col">
                <span class="uppercase">Custom Software Engieneering Associate</span> <br>
                <p class="quote"> Accenture - Argentina</p>
                 <p class="p-1">
                    Restructured applications using different languages, including Angular, C#, and Visual Basic.
                    Developed and maintained applications from scratch.<br>
                    Resolved errors and conducted subsequent frontend and unit tests.</p>
                </div>
        </div>
        <div class="row row-fifth">
            <hr class ="hr-fifth">
            <div class="col col-fifth">2022 <span class="break"></span> 2024</div>
        </div>
        <div class="row text-fifth">
            <div class="col text-fifth-2">
                <p class="p-2">Code reviews.<br>
                Utilized Agile methodology on a daily basis.<br>
                Analyzed and planned tasks for the immediate future.<br>
                Coordinated tasks with other teams.<br>
                Implemented knowledge of user experience, services, endpoints, and queries, among other aspects.<br>
                Employed and created plugins to automate repetitive tasks.</p></div>
        </div>
    </div>
    </div>

  