
<div class="third-page">
    <div class="container container-third">
    <div class="row row-third">
        <div class="col">col</div>
        <div class="col">col</div>
        <div class="col">col</div>
      </div>
      <div class="row row-third">
        <div class="col">col</div>
        <div class="col">col</div>
        <div class="col">col</div>
      </div>
      <div class="row row-third">
        <div class="col">col</div>
        <div class="col">col</div>
        <div class="col">col</div>
      </div>
</div>
</div>
  