@import "../variables";

.third-page {
    background-image: $third-page-bkg;
    @include backgrounds;
}    

.container-third {
    padding-top: 5%;
   /*kground-color: aqua;*/
    width: 100%;
    text-align: center;
    vertical-align: auto;
    .row-third {
        height: 20vh;
    }
    .col {
        border: 1px solid black;
        padding-top:6%;
    }
}


