
<div class="fourth-page">
    <div class="container-fluid">
        <div class="row text-fourth-1">
            <div class="col">
                <span class="uppercase">
                    Programming University Degree</span> <br>
                <p class="quote"> UTN - Mar del Plata</p>
                </div>
        </div>
        <div class="row row-fourth">
            <hr class ="hr-fourth">
            <div class="col col-fourth">2018</div>
            <div class="col col-fourth">2019</div>
            <div class="col col-fourth">2021</div>
            <div class="col col-fourth">2022</div>
        </div>
        <div class="row text-fourth">
            <div class="col text-fourth-2">
            <span class="uppercase">Bootcamp Full Stack </span> <br>
           <p class="quote"> Avalith - Mar del Plata</p>
            <ul>
                <li>JavaScript</li>
                <li>React</li>
                <li>Node</li>
            </ul>
            </div>
            <div class="col text-fourth-3">
                <span class="uppercase">Bootcamp .NET</span> <br>
                <p class="quote">  Accenture - Argentina </p>
                <ul>
                    <li>.NET</li>
                    <li>Angular</li>
                    <li>HTML</li>
                    <li>CSS</li>
                </ul>
                </div>
        </div>
    </div>
    </div>

  