
<div class="fourth-page">
    <div class="container-fluid">
        <div class="row text-fourth-1">
            <div class="col ">col</div>
        </div>
        <div class="row row-fourth">
            <hr class ="hr-fourth">
            <div class="col col-fourth">2018</div>
            <div class="col col-fourth">2019</div>
            <div class="col col-fourth">2021</div>
            <div class="col col-fourth">2022</div>
        </div>
        <div class="row text-fourth">
            <div class="col text-fourth-2">col</div>
            <div class="col text-fourth-2">col</div>
        </div>
    </div>
    </div>

  