$text-color: black;
$bgk-color: #fef4fa;
$nav-height: 60px;
$principal-background-color: #fff4f9;
$circle-colors: #c06a83;
$hover-color: #9c143b;
$font-size-general: 25px;
$font-size-text: 20px;
$first-page-bkg: url(../app/images/photo1680546059.jpg);
$second-page-bkg: url(../app/images/bkg2.jpg);
$third-page-bkg: url(../app/images/bkg3.jpg);
$fourth-page-bkg: url(../app/images/bkg4.jpg);
$fifth-page-bkg: url(../app/images/bkg5.jpg);
$sixth-page-bkg: url(../app/images/bkg6.jpg);
$seventh-page-bkg: url(../app/images/bkg7.jpg);
$eighth-page-bkg: url(../app/images/bkg8.jpg);
$newJob-page-bkg: url(../app/images/newJob.png);

.principal-color {
    background-color: #28142b;
}

@mixin backgrounds(){
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin col-img(){
    background-repeat: no-repeat;
    height: 150px;
    margin: 10px;
    margin-left: 25%;
    background-size: contain;
}

@mixin uppercase() {
    text-transform: uppercase;
    font-weight: bolder;
}
@mixin quote() {
    font-style: italic;
    font-size: 13px;
}

