
<app-navbar></app-navbar>
<div class="first-page">
  <div class="jum-first-page">
    <p class="jum-first-text">Jazmin Briasco</p>
    <span class="jum-second-text">Developer</span>
  </div>
</div>
<app-second-page></app-second-page>
<app-third-page></app-third-page>
<app-fourth-page></app-fourth-page>
<app-fifth-page></app-fifth-page>
<app-sixth-page></app-sixth-page>
<app-seventh-page></app-seventh-page>
<app-eighth-page></app-eighth-page>

<!--
<div class="third-page container">
  <div class="row">
    <div class="col">
      <div class="img-second-page">


    </div>
    <div class="col">
      <img class="img-second-page"src="../favicon.ico"  alt="">

    </div>
    <div class="col">
      <img class="img-second-page"src="../favicon.ico"  alt="">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img class="img-second-page"src="../favicon.ico"  alt="">

    </div>
    <div class="col">
      <img class="img-second-page"src="../favicon.ico"  alt="">
    </div>
    <div class="col">
      <img class="img-second-page"src="../favicon.ico"  alt="">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img class="img-second-page"src="../favicon.ico"  alt="">

    </div>
    <div class="col">
      <img class="img-second-page"src="../favicon.ico"  alt="">
    </div>
    <div class="col">
      <img class="img-second-page"src="../favicon.ico"  alt="">
    </div>
  </div>
</div>-->

<router-outlet></router-outlet>
