<app-navbar></app-navbar>
<div class="first-page">
  <div class="jum-first-page">
    <p class="jum-first-text">JAZMIN BRIASCO</p>
    <span class="jum-second-text">DEVELOPER</span>
  </div>
</div>

<div class="second-page">
<div class="container">
  <div class="row">
    <div class="col-7">
      <p class="text-second-page">I am a web developer with 2 years of experience, I have participated in the development of applications, including front end and back end.
      My goal is to be a web developer with solid knowledge in user experience.
    </p>
    </div>
    <div class="col-5">
      <img class="img-second-page"src="../favicon.ico" width="70%" alt="">
    </div>
  </div>
</div>
</div>
<div class="third-page container">
  <div class="row">
    <div class="col">
      <div class="img-second-page">


    </div>
    <div class="col">
      <img class="img-second-page"src="../favicon.ico"  alt="">

    </div>
    <div class="col">
      <img class="img-second-page"src="../favicon.ico"  alt="">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img class="img-second-page"src="../favicon.ico"  alt="">

    </div>
    <div class="col">
      <img class="img-second-page"src="../favicon.ico"  alt="">
    </div>
    <div class="col">
      <img class="img-second-page"src="../favicon.ico"  alt="">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img class="img-second-page"src="../favicon.ico"  alt="">

    </div>
    <div class="col">
      <img class="img-second-page"src="../favicon.ico"  alt="">
    </div>
    <div class="col">
      <img class="img-second-page"src="../favicon.ico"  alt="">
    </div>
  </div>
</div>


<div class="second-page">4</div>
<div class="second-page">5</div>
<div class="second-page">6</div>
<router-outlet></router-outlet>
