@import "../app/variables";

.first-page {
    @include backgrounds;
    background-image: $first-page-bkg;
    position: relative;
    
    .jum-first-page {
      position: absolute;
      top: 4%;
      left: 0;
      bottom: 0;
      right: 0;
      width: 800px;
      height: 350px;
      margin: auto;
      -moz-border-radius: 40px;
      -webkit-border-radius: 40px;
      padding: 10px;
      background-color: rgba(161, 141, 164, 0.6);
      text-align: center;

      .jum-first-text {
            margin-top: 4%;
            line-height: 90px;
            font-size: 100px;
            opacity: 1;
            text-transform: uppercase;
            font-weight: bold;
        }
        .jum-second-text {
            font-size: 50px;
            text-transform: uppercase;
        }

    }
    .jum-first-page {
        transition: 0.4s;
    }
    .jum-first-page:hover  {
        width: 1000px;
        height: 550px;
        padding-top: 10%;
    }
}

.smallScreen {
    background-color: #fff4fa;
    background-image: url(images/bkg4.jpg);
    @include backgrounds;
    align-items: center;
    margin-top: 10%;
    background-size: contain;
    .smallScreenImg {
        background-image: url(images/004responsive_101510.png);
        width: 12%;
        height: 11vh;
        background-repeat: no-repeat;
        background-size: contain;
        margin: 0 auto;

    }
    .smallScreenMsg {
        text-align: center;
        border: 1px solid #000000;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        padding: 10px;
        width: 50%;
        margin: 0 auto;
    }
}