@import "../variables";

.eighth-page {
    background-image: $eighth-page-bkg;
    font-size: $font-size-text;
    a {
        color: $circle-colors;
        transition: 0.3s;
    }
    a:hover {
        color: $hover-color;
        font-size: 22px;
        text-decoration: none;
    }
    @include backgrounds;
    .list-group-flush {
        list-style: none;
        padding-left: 38%;
        padding-top: 30%;
    }    
    .img-list {
        width: 20px;
        margin-top: -5px;
        margin-right: 5px;
    }
}    
