<div class="sixth-page">
<div class="container">
<ul class="list-group-flush">
    <li class="list-item"><a href="https://api.educacionit.com/pdf/certificados/Jazmin-Briasco-634403/54543" target="_blank">Angular 11</a></li>
    <li class="list-item"><a href="https://api.educacionit.com/pdf/certificados/Jazmin-Briasco-634403/54542" target="_blank">Web API Net Core</a></li>
    <li class="list-item"><a href="https://www.educacionit.com/perfil/Jazmin-Briasco-634403/certificado/54541" target="_blank">.NET C#</a></li>
    <li class="list-item"><a href="https://api.educacionit.com/pdf/certificados/Jazmin-Briasco-634403/54540" target="_blank">HTML5 & CSS3</a></li>
  </ul>
</div></div>